@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../smallchung.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

summary {
  margin: 10px;
}

.title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
}

.content-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
}
  
table th {
    background-color: #f8f8f8;
    text-align: left;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.3s ease;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
  
.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}
  
#openSidebarBtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    display: block;
    background-color: #222;
    color: white;
} 

.method-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.encounter-method {
    border-collapse: collapse;
    min-width: 240px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.encounter-method th,
.encounter-method td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;  
}

.caption {
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bolder;
}

.fishing-label {
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
}

#trainer-tooltip,
#item-tooltip {
  position: absolute;
  pointer-events: none;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  display: none;
  z-index: 1000;
}

#item-map,
#trainer-map {
    border: 1px solid black;
    border-radius: 10px;
}